<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理-登陆</title>
    <link rel="stylesheet" th:href="@{https://heerey525.github.io/layui-v2.4.3/layui-v2.4.5/css/layui.css}">
    <link rel="stylesheet" href="/static/css/login.css">

    <style>
        .admin-header {
            text-align: center;
            font-size: 28px;
            font-family: '微软雅黑';
            font-weight: 100;
            color: #fff;
        }

        .a-button {
            width: 300px;
            margin-top: 10px;
        }

        body {
            background-image: url("/static/images/bj.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<div id="container">
    <div></div>
    <div class="admin-login-background">
        <div class="admin-header">

            微商管理系统

        </div>
        <form class="layui-form" method="post" action="/authentication/form">
            <div>
                <i class="layui-icon layui-icon-username admin-icon admin-icon-username"></i>
                <input type="text" name="username" placeholder="请输入用户名"
                       id="username"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-username">
            </div>
            <div>
                <i class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
                <input type="password" name="password" id="password"
                       placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input admin-input">
            </div>


            <div>
                <input type="text" name="code"
                       id="code"
                       placeholder="请输入验证码"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-verify">
                <img class="admin-captcha codeimg" id="codeimg"
                     src="/admin/code"
                     onclick="updateVerify()">
            </div>
            <input type="submit" class="layui-btn a-button" th:value="登陆"/>

        </form>
    </div>
</div>
<script src="https://heerey525.github.io/layui-v2.4.3/layui-v2.4.5/layui.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript">


    //切换验证码
    function updateVerify() {
        var imgSrc = $("#codeimg");
        var src = imgSrc.attr("src");
        imgSrc.attr("src", chgUrl(src));
    }

    //加入时间戳，去缓存机制
    function chgUrl(url) {
        var timestamp = (new Date()).valueOf();
        if ((url.indexOf("&")) >= 0) {
            url = url + "&timestamp=" + timestamp;
        } else {
            url = url + "?timestamp=" + timestamp;
        }
        return url;
    }

</script>
</body>
</html>
